/* TODO Add site wide styles */
body{
    margin:0;
    background-color: black;
    color: white;
    height: 100%;
}

.linkTextDecoration{
    text-decoration: none;
}

.active{
    font-weight: bolder;
}
