/* ***************** LOGIN ***************** */
.signUpDiv{
    position: relative;
    background-color: black;
    width: 600px;
    height: fit-content;
    border-radius: 5%;
    margin: 200px auto;
    padding-bottom: 15px;
}

body.login{
    background-color: rgb(44, 47, 51);
}

.actualLoginForm{
    display: flex;
    flex-direction: column;

}

.loginFormInput{
    color: white;
    width: 250px;
    height: 40px;
    border: 1px gray solid;
    background-color: black;
    outline-color: rgb(29, 155, 240);
}

.LoginPageButton{
    color: black;
    background-color: white;
    border-radius: 9999px;
    border: none;
    width: 250px;
    height: 35px;
}

.loginInputsButtonsErrors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.headerForLoginPage{
    text-align: center;

}

.ButtonsOnLoginFormDiv{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap:15px;

}

.lowerSectionLoginForm{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.loginLinkBottom{
    text-decoration: none;
    color: rgb(29, 155, 240);
}

.xmarkOnLoginForm{
    color: white;
    margin-top: 15px;
    margin-left: 10px;
}

/* *************** LogOut ******************* */

.logoutButtonModal{
    border: none;
    border-radius: 9999px;
    background-color: white;
    color: black;
    width: 250px;
    height: 35px;
}

.logoutModalCancel{
    border: 1px solid white;
    border-radius: 9999px;
    background-color: black;
    color: white;
    width: 250px;
    height: 35px;
}

.logoutModalExact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    box-sizing: border-box;

}

.pElementAtUserNameFix{
    color: gray;
    overflow-wrap: break-word;
    /* word-break: break-all; */
    width: 250px;
}

.centerDivForLogOutModal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
