.formProfilePicHomePage{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
}

.inputHomePage{
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    width: 300px;

    font-size: large;
}

.jotButtonOnHomePage{
    border: none;
    color: white;
    border-radius: 9999px;
    background-color: rgb(29, 155, 240);
    width: 60px;
    height: 30px;
}

.buttonHomePageDiv{
    display: flex;
    justify-content: space-between;
    border-top: 1px gray solid;
    padding-top: 10px;
}
/*
.topOfHomePage{
    margin: 20px;

} */
.colorOfImageIcon{
    color: rgb(42, 147, 218);
}
.xOnImagePreview{
    position: relative;
    top: 35px;
    left: 10px;
    background-color: rgb(53, 52, 52);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xOnImagePreview:hover{
    background-color: rgb(105, 105, 105);
}

.imagePreview{
    width: 570px;
    height: 450px;
    border-radius: 5%;
    object-fit: cover;

}

.profilePicTopHome{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.formAndButtonDiv{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.tweetUsernameEditDeleteDiv{
    display: flex;
    justify-content: space-between;
}

.rightSideOfTweetHome{
    width: 100%;
}

.pElementHome{
    margin: 15px 0;

    overflow-wrap: break-word;
    word-break: break-all;
}
.pElementHomePostUsername{
    margin:0;
    font-weight: bold;
}
.pElementAtUserName{
    color: gray;
}

.usernameAtUsernameDiv{
    display: flex;
}
.overAllTweetDiv{
    padding: 15px;
    border-top: 1px solid gray;
}

.overAllTweetDiv:hover{
    background-color: rgba(44, 44, 44, 0.5);
}

.tweetImageOnHome{
    width: 570px;
    height: 450px;
    border-radius: 5%;
    object-fit: cover;
}

.ellipsisColor{
    color: gray;
}

.editDeleteDropDown{
    display: flex;
    flex-direction: column;

}

.ellipsisHide{
    display: none;
}

.zIndexDropDownMenu{
    z-index: 123;
    position: relative;
}

/* .HomeTitleHomePage{
    margin-left:15px;
} */

.formhomeWithInputsAndErrors{
    padding-bottom: 10px;
}

.CommentIconAndNumberSpace{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 10px;
}

/* ************Ellipsis Modal**************** */

.EllipsisModalButtons{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.EllipsisButtonModal{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 9999px;
    /* background-color: rgb(29, 155, 240) ;
    color: white; */
    border: 1px white solid;
    color: white;
    background-color: black;
}

.EllipsisButtonModal:hover{
    background-color: rgba(114, 113, 113, 0.39);
}

.updateJotButtonUpdateModal{
    width: 150px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 9999px;
    background-color: rgb(29, 155, 240);
}

.postIcons{
    display: flex;
    gap: 6px;
}

.addedMargin{
    margin-top: 15px;
    margin-bottom: 15px;
}
